@model IEnumerable<Bakers.Models.Product>

<div class="col">
    <div class="card pie-card">
        <img src="https://images-gmi-pmc.edge-generalmills.com/173da066-c6b4-45dd-9b28-0d459cf6f169.jpg" class="card-img-top">
        <div class="card-body pie-button">
            <h4 class="d-grid">
                <a class="btn btn-secondary">Add to cart</a>
            </h4>

            <div class="d-flex justify-content-between mt-2">
                <h2 class="text-start">
                    <a class="pie-link">Chocolate Pie</a>
                </h2>
                <h5 class="text-nowrap">
                    22.99 €
                </h5>
            </div>
        </div>
    </div>
</div>