@model Bakers.Models.Product


<div class="row" style="margin-top: 20px;">
    <div class="col-md-4">
        <form asp-action="Edit" style="display: flex; flex-direction: column; gap: 8px;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <p class="mt-2" style="color: orangered; margin-bottom: 0px;">Dear admin/employee, If you wish to sell this product. Please edit this product and check favorite.</p>
            <div class="form-group form-check">
                <label class="form-check-label">                    
                    <input class="form-check-input" asp-for="Favorite" /> @Html.DisplayNameFor(model => model.Favorite)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="VarietyId" class="control-label"></label>
                <select asp-for="VarietyId" class="form-control" asp-items="ViewBag.Variety"></select>
                <span asp-validation-for="VarietyId" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" style="border: none; border-radius: 4px; background-color: #DDB7B2; color: white; width: 100px" />
            </div>
        </form>
    </div>
</div>

<div class="mt-3">
    <a style="text-decoration: none; color: black; cursor: pointer;" asp-action="Index">⬅ Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
