@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <div id="carouselImages" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Images/carousel2.jpg" class="d-block w-100" alt="Carousel image 1">
            </div>
            <div class="carousel-item">
                <img src="~/Images/carousel1.jpg" class="d-block w-100" alt="Carousel image 2">
            </div>
            <div class="carousel-item">
                <img src="~/Images/carousel3.jpg" class="d-block w-100" alt="Carousel image 3">
            </div>
        </div>
    </div>
</div>

<div>
    <h4 class="text-center mt-5">@Localizer["Welcome to Baker´s!"]</h4>
    <h5 class="text-center">
        Welcome to the most delicious and scrumptious cake webshop on the internet! We are so glad that you have found us and we can't wait to share the joy of our cakes with you. 
        Our webshop is the perfect place for cake lovers and sweet tooths alike. Our cakes are made with the finest ingredients, baked with love and care, 
        and decorated with an extra sprinkle of magic to make every bite a memorable experience.
    </h5>
    <br />
    <h5 class="text-center">
        Whether you're celebrating a special occasion or just in need of a sweet treat, our webshop has something for everyone. 
        Our menu is full of delicious options from classic cakes like chocolate, 
        vanilla and red velvet to unique and creative cakes that you won't find anywhere else. 
        Each of our cakes is made fresh to order and we guarantee that they will be the highlight of any event.
    </h5>
    <br />
    <h5 class="text-center">
        So, if you're looking for a cake that will leave a lasting impression on your taste buds, 
        look no further. Our webshop is the perfect place to find the perfect cake for any occasion. 
        Browse through our menu, customize your cake, and place your order today. We can't wait to share our love of cake with you!
    </h5>
</div>



