@model Bakers.Models.Variety

@{
    ViewData["Title"] = "Details";
}


<div style="margin-top: 20px;">
    <h4>Details for @Html.DisplayFor(model => model.Name)</h4>
    <div class="row gx-5 mt-3">
        <div class="col-7" style="display: flex; flex-direction: column; gap: 10px;">
            <h5>Name : @Html.DisplayFor(model => model.Name)</h5>
            <h5>Products :</h5>
            @if (Model.Products.Count == 0) {
                <h5 style="color: orangered">No products available yet.</h5>
            } else {
            <div style="display: flex; flex-wrap: wrap; gap: 8px;">
                @foreach (var product in Model.Products)
                {
                    <img src="@product.Image" height="80px"/>
                }
            </div>
            }
        </div>
    </div>
</div>
<div style="margin-top: 20px; display: flex; flex-direction: column; width: 150px;">
    @if (User.IsInRole("admin"))
    {
        <a style="text-decoration: none; color: black; cursor: pointer;" asp-action="Edit" asp-route-id="@Model?.Id">✏ Edit</a>
    }
    <a style="text-decoration: none; color: black; cursor: pointer;" asp-action="Index">⬅ Back to List</a>
</div>
